<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            background-color: black;
            color: aliceblue;
        }
        p{
            background-color: aquamarine;
            font-family: Georgia;
        }
        ul{
            display: flex;
            justify-content: center;
        }
        li{
            margin: 10px;
            padding: 10px;
            list-style: none;
        }
        a{
            text-decoration: none;
        }
        h1{
            text-align: center;
            color: aqua;
            background-color: aliceblue;
        }
        p{
            color: rgb(253, 36, 7);
            background-color: rgb(241, 237, 236);
            font-family: monospace;     
            font-size: larger;
            text-align: center;
        }
        li{
            transition: transform 2s;
        }
        li:hover{
            transform: scale(1.1);
        }
    </style>
</head>
<body>
    <div>
        <ul>
            <li><a href='/'>HOME</a></li>
            <li><a href='/about'>ABOUT</a></li>
            <li><a href='/service'>SERVICE</a></li>
        </ul>
    </div>
    <h1>ABOUT US</h1>
    <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe corporis numquam. Repellat hic nisi ea voluptatem. Aliquid culpa perspiciatis minima quibusdam doloremque architecto praesentium asperiores a, ratione quos inventore, dignissimos, similique corporis assumenda. Cum reiciendis dolorum obcaecati inventore ipsam eos molestiae ipsa corporis numquam perferendis. Ipsum, quisquam. Atque numquam veniam, libero minima rem voluptatibus assumenda mollitia facilis amet, debitis saepe dolorem consequatur quia quisquam harum enim porro? Magni eveniet error facilis sapiente vero praesentium facere veniam? Impedit explicabo soluta repellat dolorem! Tenetur doloremque quod necessitatibus corporis ipsam repellendus, natus facilis molestias vitae veniam. Saepe voluptatum nisi deleniti excepturi adipisci qui, doloribus odit culpa sed. Quas sint molestiae voluptatibus ipsam pariatur dolor consequatur, velit sunt at quasi quo dolorem reprehenderit non, nesciunt qui nisi, reiciendis minima. Debitis consequuntur error placeat eius quisquam repellendus. Hic sit repellat facilis ex quis illum cupiditate dolorem dolores possimus rem? Nisi distinctio temporibus recusandae laborum quam, cupiditate deleniti quasi ullam magnam voluptatum aut voluptas doloremque excepturi asperiores itaque fugiat id rerum eos repellendus alias? Dolore recusandae, saepe magnam omnis quod ducimus nostrum ullam officia qui dolorum perspiciatis accusantium numquam nemo labore, explicabo, quam in. Sapiente commodi veniam reiciendis neque eum atque exercitationem? Aspernatur corporis assumenda tempore nesciunt a temporibus, fugit ad expedita debitis. Ducimus, laudantium rem! Atque, recusandae iste quis corrupti provident sequi ipsam sapiente quasi id molestiae, at, exercitationem qui expedita dolore obcaecati fugit itaque consequuntur quod pariatur commodi culpa natus! Corrupti corporis neque repellendus, veritatis omnis saepe dolore quae, ducimus dolorum provident, iste maxime laudantium. Eius magnam non sequi in beatae vel qui quod laudantium saepe esse! Fuga ex perspiciatis inventore nisi quaerat? Dolorum, labore iure adipisci possimus sit vitae. Laudantium officiis magnam ipsum vel ex veniam temporibus laboriosam quos eum beatae esse tempore fugiat omnis, fugit ullam magni, quibusdam rem? Aperiam dolores labore cupiditate quos! Sint, veritatis? Similique eius asperiores illum enim perferendis? Iusto iste harum nemo numquam, quidem non rerum dignissimos odio saepe eum pariatur qui maxime, magnam repellendus provident quod? Dignissimos, laborum architecto error placeat illum magni obcaecati aspernatur! Reprehenderit, atque consequuntur, consectetur recusandae eligendi qui et molestiae, quod nesciunt voluptates distinctio? Eveniet blanditiis at fugit sint eum error illo earum explicabo accusantium reprehenderit repellat in optio, et tempora nihil corrupti repudiandae maxime nostrum rem? Pariatur enim quae error fuga, culpa nam ex quod? Eligendi id corporis corrupti maxime voluptatum, consequuntur harum, sunt alias, nam laborum voluptate placeat aut quo. amet consectetur adipisicing elit. Odit, incidunt sed. Cupiditate quis voluptate reprehenderit reiciendis magni atque enim aut dolorem beatae, voluptas tenetur corporis eius iste illo vel vero eum sunt voluptatem. Aliquam repellat eum aspernatur nesciunt placeat, excepturi quia quas nemo, deleniti enim harum quod, cumque sint officiis numquam. Aliquid, quidem! Nesciunt ad amet iure repellendus voluptates. Vero quaerat ratione quas, odit cum, maxime consectetur illo quae provident iste nam voluptates, modi inventore beatae culpa soluta corrupti doloremque dolorum reiciendis? Doloribus error quibusdam, perferendis dolor illo veniam a ad aliquam hic qui minus, nostrum tenetur dignissimos veritatis sed, fugit non nisi tempora! Praesentium quis laborum nostrum consequatur vel cumque esse rerum, quasi velit soluta! Unde laudantium officiis in vero eveniet magni mollitia numquam voluptates doloribus cumque, tempore ipsam quod facilis. Enim illum laborum praesentium tenetur debitis nisi. Quasi placeat obcaecati unde illo illum ad dicta enim nulla, fugit quo quaerat, commodi impedit. Unde nam veritatis blanditiis ad earum. Voluptates optio vero exercitationem ut unde facere iure ullam porro sit, nostrum inventore quas velit nisi dignissimos eius nemo. Aliquam sapiente porro iusto impedit expedita! Cupiditate non nostrum quas eaque odio velit voluptas! Reiciendis, quos! Nulla iusto aliquam amet tempora.</p>
    
</body>
</html>