<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            background-color: black;
            color: aliceblue;
        }
        p{
            background-color: aquamarine;
            font-family: Georgia;
        }
        ul{
            display: flex;
            justify-content: center;
        }
        li{
            margin: 10px;
            padding: 10px;
            list-style: none;
        }
        a{
            text-decoration: none;
        }
        h1{
            text-align: center;
            color: rgb(255, 89, 0);
            background-color: aliceblue;
        }
        p{
            color: rgb(46, 2, 149);
            text-align: center;
            background-color: bisque;
            font-size: larger;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        li{
            transition: transform 2s;
        }
        li:hover{
            transform: scale(1.1);
        }
    </style>
</head>
<body>
    <div>
        <ul>
            <li><a href='/'>HOME</a></li>
            <li><a href='/about'>ABOUT</a></li>
            <li><a href='/service'>SERVICE</a></li>
        </ul>
    </div>
    <h1>OUR SERVICES</h1>
    <p>equi est repudiandae mollitia molestias laudantium delectus quasi at magni architecto natus laborum ad ab. Cumque, quo. Accusantium, ipsum animi fuga praesentium temporibus mollitia nemo quod, nulla esse est tenetur, totam et tempora veniam! Quas odio dolores asperiores et sapiente illo aperiam veniam! Dolore, mollitia ea quod, consequatur tempora numquam iusto praesentium, eius beatae ipsam rem sunt. Minima, itaque voluptas? Reiciendis amet aut, eaque porro voluptatum saepe repellat, quisquam assumenda harum quibusdam ducimus vero recusandae natus voluptates placeat delectus blanditiis sint consectetur perspiciatis labore odio alias nihil officia? Veritatis esse, fuga atque quisquam voluptatum temporibus ex optio. Asperiores non quos ullam officiis repudiandae, explicabo unde perspiciatis veniam quae eveniet similique. Aut commodi vel voluptate repellat at vero quis tempora ea voluptatum provident, numquam omnis sequi optio sapiente! Nesciunt tenetur, autem voluptates similique eum iusto, exercitationem veritatis nulla suscipit quod ullam distinctio quia aspernatur vero consequatur? Consectetur, quos beatae. Nesciunt dolorem eligendi possimus recusandae facilis ex enim porro distinctio iste pariatur ipsam obcaecati, minima harum earum officia vel corrupti alias saepe deleniti tenetur illum atque. Voluptatum veritatis ex eius ullam aut, sunt optio similique nemo aliquam eum provident? Cupiditate dignissimos, vero exercitationem atque distinctio eaque et quisquam sapiente cum voluptas sequi in voluptatem harum amet aliquam vitae eos aliquid! Vero quas, accusamus blanditiis nemo eligendi quo vitae sunt quia dignissimos eius delectus voluptatem ad soluta beatae? Voluptatem officiis at earum eligendi quos cumque quis rerum exercitationem ex voluptas nihil corporis sapiente recusandae labore explicabo tempora cum error quidem obcaecati incidunt harum nemo ut, quibusdam deleniti. In sunt dignissimos id. Quis asperiores voluptatem quidem iure, natus est cupiditate ipsum officia labore quod repellendus vero magni nostrum praesentium doloribus ducimus suscipit dolorem maiores ea optio in dignissimos nisi. Accusantium deleniti eveniet ut natus, aliquid amet neque mollitia? Aut, in inventore. Id cupiditate asperiores veritatis commodi maxime voluptatem reiciendis. Incidunt porro modi debitis obcaecati, eaque enim explicabo minus accusantium reiciendis sint quis blanditiis minima alias itaque repellendus fugiat mollitia? Tenetur dolor quaerat sapiente illum corporis quae aliquid cupiditate repudiandae recusandae nisi? Ducimus expedita aspernatur illo, repellendus qui cumque amet accusantium labore consectetur, reiciendis veritatis. Maxime vero consectetur saepe error iure cum aperiam repellat amet ducimus eos, officia ipsam itaque fuga hic aspernatur natus deleniti porro nobis. Soluta, obcaecati! Illum soluta quis ipsum porro temporibus velit necessitatibus obcaecati, error non totam? Ab deleniti explicabo et porro soluta dolorum assumenda odio, error consequuntur, quidem fuga! Porro, voluptatem dignissimos assumenda quae sint quaerat consequuntur architecto suscipit reiciendis ipsam dicta molestiae ducimus maiores amet, sunt voluptatum. Repellendus facilis recusandae enim, saepe libero error quia distinctio praesentium nam asperiores fuga mollitia? Ad tempore, dolore labore sequi repudiandae eos quaerat soluta eius illum aut consequuntur libero hic neque corporis animi eum aliquid itaque ducimus perspiciatis laboriosam voluptatem! Illo libero temporibus sed labore eos sit at quis voluptate cupiditate eveniet quam necessitatibus odit, maxime, sint placeat nulla facilis. Animi laboriosam quibusdam a aperiam est consequuntur accusamus obcaecati delectus, voluptatem quis deserunt numquam earum autem nam asperiores. Assumenda nostrum quod ex voluptatibus magni illo animi obcaecati atque aut natus deleniti dolore nobis itaque dolor aliquam ab, facere et modi, maxime ipsa! Consequatur nulla beatae esse porro minus officia consequuntur soluta nesciunt explicabo, aliquid inventore molestias. Sunt perspiciatis eum voluptatibus ducimus impedit reiciendis distinctio. Repellendus debitis omnis soluta. Distinctio magni libero, veniam nesciunt vitae soluta natus sequi esse molestiae nobis at ea reiciendis quisquam odit aspernatur asperiores iusto nemo modi commodi ex quaerat. sit amet consectetur adipisicing elit. Odit, incidunt sed. Cupiditate quis voluptate reprehenderit reiciendis magni atque enim aut dolorem beatae, voluptas tenetur corporis eius iste illo vel vero eum sunt voluptatem. Aliquam repellat eum aspernatur nesciunt placeat, excepturi quia quas nemo, deleniti enim harum quod, cumque sint officiis numquam. Aliquid, quidem! Nesciunt ad amet iure repellendus voluptates. Vero quaerat ratione quas, odit cum, maxime consectetur illo quae provident iste nam voluptates, modi inventore beatae culpa soluta corrupti doloremque dolorum reiciendis? Doloribus error quibusdam, perferendis dolor illo veniam a ad aliquam hic qui minus, nostrum tenetur dignissimos veritatis sed, fugit non nisi tempora! Praesentium quis laborum nostrum consequatur vel cumque esse rerum, quasi velit soluta! Unde laudantium officiis in vero eveniet magni mollitia numquam voluptates doloribus cumque, tempore ipsam quod facilis. Enim illum laborum praesentium tenetur debitis nisi. Quasi placeat obcaecati unde illo illum ad dicta enim nulla, fugit quo quaerat, commodi impedit. Unde nam veritatis blanditiis ad earum. Voluptates optio vero exercitationem ut unde facere iure ullam porro sit, nostrum inventore quas velit nisi dignissimos eius nemo. Aliquam sapiente porro iusto impedit expedita! Cupiditate non nostrum quas eaque odio velit voluptas! Reiciendis, quos! Nulla iusto aliquam amet tempora.</p>
    
</body>
</html>